<!-- <div class="col-md-4 text-right">
  <button class="btn btn-primary" (click)="exportPDF();">Export To PDF</button>
</div> -->

<!-- <div class="container" #pdfTable> -->
<!-- <div id="picture"></div> -->
<div class="container">
  <app-help class="no-print"></app-help>
  <app-data-input></app-data-input>
  <app-data-table></app-data-table>
</div>
<!-- </div> -->
<div class="divFooter">
  <span class="optical">Optical </span> <span class="design">&ensp;Design Manufacturing, Inc, •
    603-524-8350 • www.odm-inc.com</span>
</div>
